.container{
  align-items: center;
  background: white;
  box-sizing: border-box;
  cursor: pointer;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  margin: 2rem; 
  transition: all 200ms ease-in-out;
  user-select: none;
  width: 200px;
  position: relative;
}

.container::before{
  content: attr(data-groupnumber);
  align-items: center;
  background-color: rgb(197, 197, 197);
  border-radius: 50%;
  color: white;
  display: flex;
  font: 14px Arial, sans-serif;
  height: 25px;
  justify-content: center;
  padding: 8px;
  position: absolute;  
  text-align: center;
  top: -2rem;
  width: 25px;
}