.tile {
  border-radius: 10px;
  height: 170px;
  width: 170px;
  margin: .5rem;
  position: relative;
  text-align: center;
  transition: all 100ms ease-in-out;
  box-shadow: 2px 2px 2px #dedede;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tile__lesson {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin: .5rem 0;
  text-decoration: none;
}

.tile__title {  
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
}

.tile__icon {
  width: 5rem;
}