.container{
  align-items: center;
  background: white;
  bottom: 0;   
  display: flex; 
  gap: 1rem;
  height: 5rem;
  justify-content: center;  
  padding: 1rem;
  position: fixed;
  text-align: center;  
  width: 100%;
}