.container{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: darkblue;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  transform: translateY(100%);
  transition: all 500ms;
}

.spanishicon{
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
}

.mainText{
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

.showTranslation{
  transform: translateY(0px);
}

.showTranslation::after{
  content: "";
  height: 30px;
  width: 100%;
  position: absolute; 
  bottom: 1rem;
  left: 0;
  background-color: rgb(233, 189, 43);
  border: solid 1px white;
  animation: animateProgressBar 3s linear;
}

@keyframes animateProgressBar{
  from{width: 100%}
  to{width: 0%}
}